<div class="container custom-container">
    <div class="col-md-12">
        <form #mainForm="ngForm">
            <h3 class="mb-3 text-center">Créer un Client</h3>

            <div class="form-group">
                <input type="text" [(ngModel)]="clientDetails.nom" name="nom" class="form-control" placeholder="Nom" required #nom="ngModel">
                <div class="card-panel red accent-1" [hidden]="nom.valid || nom.pristine">
                    Nom requis
                </div>
                <input type="text" [(ngModel)]="clientDetails.prenom" name="prenom"  class="form-control" placeholder="Prenom" required #prenom="ngModel">
                <div class="card-panel red accent-1" [hidden]="prenom.valid || prenom.pristine">
                    prenom requis
                </div>
                <input type="tel" [(ngModel)]="clientDetails.telephone" name="telephone"  class="form-control"
                        placeholder="Telephone" required #tel="ngModel">
                <div class="card-panel red accent-1" [hidden]="tel.valid || tel.pristine">
                    telephone requis
                </div>
                <input type="text" [(ngModel)]="clientDetails.adresse.rue" name="adresss"  class="form-control" placeholder="Adresse" required #adresse="ngModel">
                <div class="card-panel red accent-1" [hidden]="adresse.valid || adresse.pristine">
                    adresse requis
                </div>
                <input type="text" [(ngModel)]="clientDetails.adresse.codePostal" name="codepostal"  class="form-control" placeholder="Code Postal" required #cp="ngModel">
                <div class="card-panel red accent-1" [hidden]="cp.valid || cp.pristine">
                    code postal requis
                </div>
                <input type="text" [(ngModel)]="clientDetails.adresse.ville" name="ville"  class="form-control"
                        placeholder="Ville" required #ville="ngModel">
                <div class="card-panel red accent-1" [hidden]="ville.valid || ville.pristine">
                    ville requis
                </div>
                <button class="btn btn-success btn-lg btn-block" (click)="addClient()" [disabled]="!mainForm.form.valid">Ajouter</button>
            </div>
        </form>
    </div>
</div>
