<div class="container custom-container-2">

  
    <div class="no-data text-center" *ngIf="client.length == 0">
    <p>There is no client added yet!</p>
    <button class="btn btn-outline-primary" routerLink="/create-client">Add client</button>
  </div>

  <div *ngIf="client.length !== 0">
    <h3 class="mb-3 text-center">Clients List</h3>

    <div class="col-md-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col"> Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Login</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of client">
            <td>{{c.id}}</td>
            <td>{{c.nom}}</td>
            <td>{{c.prenom}}</td>
            <td>{{c.login}}</td>
            <td >
                
              <button class="btn btn-info mr-1" routerLink="/client-show/{{c.id}}">Show</button>
              <button class="btn btn-warning mr-1" routerLink="/client-edit/{{c.id}}">Edit</button>
              <button class="btn btn-danger" (click)="deleteClient(c.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

</div>