<h2  style="text-align: center;">Consultation d'un compte</h2>

<select class="form-select" (change)="onSelected($event)">
  <option value="1">Compte Courant</option>
  <option value="2">Compte Epargne</option>
</select>


<div class="container custom-container">
  <div class="col-md-12">
    <div class="card" style="width: 18rem;">
      <div *ngIf="selectedCompte === '1'" class="card-body">
        <h5>Compte Courant</h5>
        <p class="card-text">Numero de Compte : {{clientDetails.cc.numeroCompte}}</p>
        <p class="card-text">Date d'ouverture : {{clientDetails.cc.date}}</p>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Solde : </h6> -->
        <p class="card-text">Solde : {{clientDetails.cc.solde}}€</p>
        <!-- <h6 class="card-subtitle mb-2 text-muted">decouvert: </h6> -->
        <p class="card-text">Découvert : {{clientDetails.cc.decouvert}}€</p>
        <p> {{ clientDetails.cc.date }} aujourd'hui</p>
      </div>
      <div *ngIf="selectedCompte === '2'" class="card-body">
        <h5>Compte Epargne</h5>
        <p class="card-text">Numero de Compte : {{clientDetails.compteEp.numeroCompte}}</p>
        <p class="card-text">Date d'ouverture : {{clientDetails.compteEp.date}}</p>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Solde : </h6> -->
        <p class="card-text">Solde : {{clientDetails.compteEp.solde}}€</p>
        <!-- <h6 class="card-subtitle mb-2 text-muted">decouvert: </h6> -->
        <p class="card-text">Intérêt : {{clientDetails.compteEp.interet}}%</p>
      </div>
    </div>
  </div>
</div>
