<h2  style="text-align: center;">Consultation d'un compte</h2>
<div class="input-group mb-3">
  <input type="text" class="form-conrol" placeholder="search by id" [(ngModel)] = "id">
  <button class="btn btn-outline-secondary" type="button" >
    search
   </button>
</div>

<div class="container custom-container">
  <div class="col-md-12">


 <div class="card" style="width: 18rem;">

  <div class="card-body">

    <h6 class="card-subtitle mb-2 text-muted">Prenom: </h6> <p class="card-text">{{clientDetails.prenom}}</p>
    <h6 class="card-subtitle mb-2 text-muted">Nom: </h6> <p class="card-text">{{clientDetails.nom}}</p>
    <h6 class="card-subtitle mb-2 text-muted">Compte Courant: </h6>
    <p class="card-text"> Solde: {{clientDetails.compteCourant.solde}}  N.Compte:  {{clientDetails.compteCourant.numeroCompte}}</p>
    <h6 class="card-subtitle mb-2 text-muted">Compte Epargne: </h6>
    <p class="card-text"> Solde: {{clientDetails.compteEpargne.solde}}  N.Compte:  {{clientDetails.compteEpargne.numeroCompte}}</p>
  </div>
</div>


  </div>
</div>



